<div class="align-content-center">
<div class="tile is-ancestor is-vertical">
  <div class="tile is-parent is-vertical box">
    <article class="tile is-child">
      <p class="title">Sign Up</p>
    </article>

    <article class="tile is-child">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class: "title is-6" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Email" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "title is-6"%>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "Password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "title is-6" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: "Password Confirmation" %>
        </div>

        <div class="level-right">
          <div class="level-item">
            <%= link_to("Already registered?", user_session_path) %>
          </div>
          <div class="level-item actions signup-button">
            <%= f.submit "Sign up", class: "button is-info"%>
          </div>
        </div>
      <% end %>
  </article>
  </div>
</div>
</div>
