<%= form_for form, as: :question, url: url, method: method, html: { class: "grid grid-cols-1 lg:grid-cols-2 gap-6" }, data: { turbo: false } do |f| %>
  <%- if form.errors.any? %>
    <ul class="list-disc list-inside">
      <%- form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="space-y-3">
    <h4 class="font-semibold underline">Details</h4>
    <div>
      <%= f.label :type, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= f.select :type, ::Rapidfire::QuestionForm::QUESTION_TYPES, {include_blank: "Select question Type"}, id: "question_type", class: "block w-full p-1 mt-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" %>
    </div>

    <div>
      <%= f.label :question_text, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= f.text_field :question_text, class: "block w-full p-1 mt-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" %>
    </div>

    <div>
      <%= f.label :position, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= f.number_field :position, class: "block w-full p-1 mt-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" %>
    </div>

    <div>
      <%= f.label :placeholder, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= f.text_field :placeholder, class: "block w-full p-1 mt-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" %>
    </div>

    <div>
      <%= f.label :default_text, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= f.text_field :default_text, class: "block w-full p-1 mt-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" %>
    </div>

    <div>
      <%= f.label :answer_options, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= f.text_area :answer_options, rows: 5, class: "block w-full p-1 mt-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" %>
    </div>
  </div>

  <div class="space-y-3">
    <h4 class="font-semibold underline">Other options</h4>

    <div>
      <%= f.label :answer_minimum_length, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= f.text_field :answer_minimum_length, class: "block w-full p-1 mt-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" %>
    </div>

    <div>
      <%= f.label :answer_maximum_length, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= f.text_field :answer_maximum_length, class: "block w-full p-1 mt-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" %>
    </div>

    <div>
      <%= f.label :answer_greater_than_or_equal_to, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= f.text_field :answer_greater_than_or_equal_to, class: "block w-full p-1 mt-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" %>
    </div>

    <div>
      <%= f.label :answer_less_than_or_equal_to, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= f.text_field :answer_less_than_or_equal_to, class: "block w-full p-1 mt-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" %>
    </div>

    <div>
      <%= f.check_box :answer_presence %>
      <%= f.label :answer_presence, class: "ml-1 cursor-pointer inline-block text-sm font-medium leading-6 text-gray-900" %>
    </div>
  </div>

  <div>
    <%= f.submit submit_text, class: "cursor-pointer rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
  </div>
<% end %>
