<%= form_for survey, html: { class: "space-y-3" }, data: { turbo: false } do |f| %>
  <%- if survey.errors.any? %>
    <ul class="list-disc list-inside">
      <%- survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <%= f.text_field :name, class: "block w-full p-1 mt-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" %>
  </div>

  <div>
    <%= f.label :introduction, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <%= f.text_area :introduction, rows: 5, class: "block w-full p-1 mt-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" %>
  </div>

  <div>
    <%= f.label :after_survey_content, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <%= f.text_area :after_survey_content, rows: 5, class: "block w-full p-1 mt-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" %>
  </div>

  <div>
    <%= f.submit "Submit", class: "cursor-pointer rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
  </div>
<% end %>
