<tr id= "survey_<%= survey.id %>">
  <td>
    <%= survey.name %>
  </td>
  <td>
    <ul class="vertical-list">
      <li><%= link_to "Answer Questions", new_survey_attempt_path(survey) %></li>
      <% if can_administer? %>
        <li><%= link_to "Questions", survey_questions_path(survey) %></li>
        <li><%= link_to "Results", [:results, survey] %></li>
        <li><%= link_to "Delete", survey, method: :delete %></li>
      <% end %>
    </ul>
  </td>
</tr>
