<div class="space-y-3">
  <h4 class="font-medium"><%= survey.name %></h4>
  <p class="text-sm">
    <%= survey.introduction %>
  </p>

  <ul class="flex justify-between md:justify-normal md:gap-6 text-sm underline">
    <% if can_administer? %>
      <%= link_to "Questions", survey_questions_path(survey) %>
      <%= link_to "Results", [:results, survey] %>
      <%= link_to "Delete", survey, method: :delete %>
    <% end %>
    <%= link_to "Attempt", new_survey_attempt_path(survey) %>
  </ul>
</div>
<hr class="my-3" />
