<p class="text-sm p-3 bg-slate-100 rounded-md"><%= @survey.introduction -%></p>

<%= form_for([@survey, @attempt_builder], html: { class: "space-y-3" }, data: { turbo: false } ) do |f| %>
  <%- @attempt_builder.answers.each do |answer| %>
    <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %>
      <%= render_answer_form_helper(answer, answer_form) %>
    <% end %>
  <% end %>
  <div>
    <%= f.submit submit_text, class: "cursor-pointer rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
  </div>
<% end %>
